<%- include("partials/header") %>

<div class="row mb-4 mt-4">
<% posts.forEach(post => { %>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0" style="color: #1abc9c;"><%= post.title %></h3>
        <div class="mb-1 text-muted"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %></div>
        <p class="card-text mb-auto"><%= post.content.substring(0, 100) + " ..." %></p>
        <a href="posts/<%= post.title %>" class="stretched-link">Continue reading</a>
      </div>
    </div>
  </div>
<% }); %>
</div>


<%- include("partials/footer") %>
